/* .header-div{
    display: flex;
    justify-content: center;
} */
.navbar{
    font-size: 20px;
    background-color: rgb(255, 233, 205);
    padding: 10px 16px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.navBar{
    text-decoration: none;
    /* padding-right: 50px;
    padding-top: 4px;
    padding-bottom: 4px; */
    color: black;
    padding: 2px 12px;
}
.navBar:hover {
    color: rgb(26, 209, 139);
}



@media only screen and (max-width:678px){

    .navbar{
        font-size: 12px;
        background-color: rgb(255, 233, 205);
        padding: 5px 0px;
        width: auto;
    }    


}
.navBar{
    text-decoration: none;
    padding: 4px 10px;
    color: black;
}