.chart-section{
    display: flex;
    margin-top: 40px;
}
.first-chart{
    margin-left: 40px;
}
.second-chart{
    margin-left: 200px;
}

@media only screen and (max-width:678px){
    .chart-section{
        display: block;
    }
    .first-chart{
        margin-left: 0px;
    }
    .second-chart{
        margin-left: 0px;
    }
}