.chart-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.first-chart{
    width: 550px;    
}
.second-chart{
    width: 550px;
}

@media only screen and (max-width:678px){
    .chart-section{
        display: block;
        
    }
    .first-chart{
        width: 50px;
    }
    .second-chart{
        width: 50px;
    }
}